---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import BlogPost from '../../layouts/BlogPost.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<head>
  <BaseHead title={post.data.title} description={post.data.description} image={post.data.heroImage} />
</head>
<BlogPost {...post.data}>
	<Content />
	
	<div class="giscus-container mt-10">
		<script src="https://giscus.app/client.js"
			data-repo="halfmoon-mind/portfolio"
			data-repo-id="R_kgDOObRjxQ"
			data-category="General"
			data-category-id="DIC_kwDOObRjxc4CqGbP"
			data-mapping="title"
			data-strict="0"
			data-reactions-enabled="1"
			data-emit-metadata="0"
			data-input-position="bottom"
			data-theme="light"
			data-lang="ko"
			crossorigin="anonymous"
			async>
		</script>
	</div>
</BlogPost>
